html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: #FFBB99;
  
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px black solid;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/100% url("images/20110824-pusheen-burger.gif");
}

div.hidden {
  background: #374A2E;
}

div.hidden:hover {
  background: rgb(96, 129, 80);
}

div.marked, div.marked:hover {
  background: no-repeat center/110% url("images/pusheen-inspector.gif");
}

button {
  font-family: 'DM Serif Display', serif;
  font-size: 15px;
  margin: 25px;
}

button:hover {

}